{% extends 'blog/base.html' %}

{% block content %}
   <div class="post">
        <div class="post-head">
        	<span><h2 class="title">{{ post.title }}</h2></span>
        	{% if user.is_authenticated %}
        		<span class="ch"><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span>Change</span></a></span>
        	{% endif %}
        </div>
        {% if post.published_date %}
        	<p class="date">Published: {{ post.published_date }}</p>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock content %}