body {
	padding: 0px;
	margin: 0px;
	font-family: "Noto Serif",serif;
	line-height: 1.42857143;
	color: #666;
	font-size: 15px;
}
a {
	color: #22ACF5;
	text-decoration: none;
}
a:hover, a:focus {
	outline: none;
	cursor: pointer;
	text-decoration: underline;
}
.head {
	text-align: center;
	padding: 15px 70px;
}
.body {
	padding: 20px;
}
.date {
	color: #999;
}
.post {
	padding: 25px 250px;
	margin-bottom: 20px;
}